@use "../calculator.css/reset.css";

@media screen and (min-width: 365px) {
    .header {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            width: 15%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .head-button {
            font-size: 12px;
            display: flex;
            justify-content: center;
            width: 25%;
        }
    }
}

.container {
    width: 100%;
    margin-bottom: 15px;

    .container-saveandload {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        i {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .saveandload__text {
            width: 210px;
        }
    }

    .container-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 18px;
        }
    }

    .container-episode {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .episode-title {
            font-size: 14px;
            border: 1px solid black;
            padding: 1px 3px;
            box-sizing: border-box;
            border-right: none;
        }

        .episode-desc {
            font-size: 14px;
            border: 1px solid black;
            padding: 1px 3px;
            box-sizing: border-box;
        }
    }

    .level-select {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .base-level_select {
            margin-right: 10px;
        }
    }

    .container-select {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
    }

    .gender {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .calculator {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .calculator-character {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            width: 350px;
        }

        .character {
            position: absolute;
            border-left: 1px solid black;
            border-right: 1px solid black;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .gear-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 10px;
        }

        .list-item {
            display: flex;
            position: relative;

            &.left {
                justify-content: flex-start;
                padding-bottom: 3px;
                padding-top: 6px;

                &:first-child {
                    padding-top: 0;
                }
            }

            &.right {
                justify-content: flex-end;
                padding-bottom: 3px;
                padding-top: 6px;

                &:first-child {
                    padding-top: 0;
                }
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: black;
                bottom: 0;
            }
        }

        .gear {
            display: flex;
            width: 25px;
            height: 15px;
            border: 1px solid black;
            border-radius: 50%;

            &.left {
                margin-right: 5px;
            }

            &.right {
                margin-left: 5px;
            }

            &.button {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }

        &-stats {
            display: flex;
            flex-direction: column;
            margin: 0 5px;

            .stats-info_status {
                border: 1px solid black;

                li.stat {
                    display: flex;
                    align-items: center;
                    padding: 3px 2px;
                    border-top: 1px solid black;

                    .stats_button-add {
                        background: url(/img/stats-button-add.png) no-repeat center;
                        cursor: pointer;
                        width: 13px;
                        height: 13px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .stats_button-del {
                        background: url(/img/stats-button-del.png) no-repeat center;
                        cursor: pointer;
                        width: 13px;
                        height: 13px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }

            .stats-info_information {
                border: 1px solid black;
                padding: 3px 2px;
            }

            .status {
                font-weight: bold;
            }
        }
    }
}

.other-information {
    width: 100%;
    margin-bottom: 15px;

    .other-info {
        margin: 0 5px;
        border: 1px solid black;

        .other-info_header {
            border: 1px solid black;
            padding: 3px 2px;
        }

        .status-container {
            padding: 3px 2px;

            .status-elements {
                border-bottom: 1px solid black;
                padding-bottom: 5px;

                .info-title {
                    margin-bottom: 10px;
                }
            }

            .status-resistance {
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-weight: bold;

                .neutral {
                    color: #C7AE82;
                }

                .water {
                    color: #0082FF;
                }

                .earth {
                    color: #A52A2A;
                }

                .fire {
                    color: #FF0000;
                }

                .wind {
                    color: #008000;
                }

                .poison {
                    color: #7B2488;
                }

                .holy {
                    color: #CDCD40;
                }

                .shadow {
                    color: #000000;
                }

                .ghost {
                    color: #9FA09B;
                }

                .undead {
                    color: #252520;
                }
            }

            .status-type {
                padding-top: 5px;
                border-bottom: 1px solid black;
                padding-bottom: 5px;
            }

            .status-effect {
                padding-top: 5px;
                border-bottom: 1px solid black;
                padding-bottom: 5px;
            }

            .status-size {
                padding-top: 5px;
                border-bottom: 1px solid black;
                padding-bottom: 5px;
            }

            .status-special {
                padding-top: 5px;
            }
        }
    }
}